{%- extends "base.html" %}

{% block components %}
    {% include ['components/_nutrients_filter.html'] %}
    {% include ['components/_nutrient_filter.html'] %}
{% endblock %}

{% block content %}
    <div class="ma-10">
        <v-row>
            <h2>Foods</h2>
        </v-row>
        <v-row>
            <nutrients-filters v-bind:filters="filters"/>
        </v-row>
        <v-row>
            <v-btn x-small class="mx-2" fab dark color="green darken-2" v-on:click="applyFilter">
                <v-icon dark>mdi-filter</v-icon>
            </v-btn>
        </v-row>
        <v-row>
            <v-layout child-flex>
                <v-data-table :items="foods"
                              :headers="headers"
                              :show-expand=true
                              :server-items-length="totalItems"
                              :dense=true
                              :items-per-page="itemsPerPage || 10"
                              :mobile-breakpoint="0"
                              :page="Number(pageNumber) || 1"
                              @update:page="changePageNumber"
                              class="foods-table"
                >
                    <template v-slot:expanded-item="{ headers, item }">
                        <td colspan="2"></td>
                        <td :colspan="headers.length-4">
                            <v-simple-table dense class="nutrients-table">
                                <template v-slot:default>
                                    <thead>
                                    <tr>
                                        <th class="text-center" width="50px">#</th>
                                        <th class="text-left">Name</th>
                                        <th class="text-center" width="50px">Unit</th>
                                        <th class="text-right" width="10%">Value</th>
                                        <th class="text-right" width="10%">Gm</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in item.nutrients" :key="item.id">
                                        <td class="text-center">[[ item.nutrient.id ]]</td>
                                        <td class="text-left">[[ item.nutrient.name ]]</td>
                                        <td class="text-center">[[ item.nutrient.unit ]]</td>
                                        <td class="text-right">[[ item.value ]]</td>
                                        <td class="text-right">[[ item.gm ]]</td>
                                    </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </td>
                        <td colspan="2"></td>
                    </template>
                </v-data-table>
            </v-layout>
        </v-row>
    </div>
{% endblock %}

{% block vue %}
    <script>
        var foods_api_url = '{{ url_for('foods.index') }}';
        var app = new Vue({
            delimiters: ['[[', ']]'],
            vuetify: new Vuetify(),
            el: '#app',
            created: function () {
                this.getFoods()
            },
            data: {
                itemsPerPage: 10,
                totalItems: 0,
                pageNumber: 1,
                foods: [],
                filters: [{'nutrient_id': 203, 'operator': 'Greater Than', 'value': 1 }],
                headers: [
                    {text: 'Id', value: 'id', width: "50px"},
                    {text: 'Name', value: 'name'},
                    {text: 'Measure', value: 'measure', width: "300px"},
                    {text: 'Weight', value: 'weight', width: "100px"},
                ],

            },
            methods: {
                changePageNumber(newPageNumber) {
                    this.pageNumber = newPageNumber
                    this.getFoods()
                },
                applyFilter() {
                    {#this.filters = [{'nutrient_id': 203, 'operator': 'Greater Than', 'value': 1 }],#}
                    this.getFoods()
                },
                getFoods() {
                    axios.post(foods_api_url, {filters: this.filters, page: {index: this.pageNumber, size: this.itemsPerPage}})
                        .then((data) => {
                            this.foods = data.data.results
                            this.totalItems = data.data.count
                        })
                },
            }
        });
    </script>
{% endblock %}
