<script>
    Vue.component('nutrients-filters', {
        delimiters: ['[[', ']]'],
        props: ['filters'],
        data: () => ({
        }),
        methods: {
            addFilter() {
                this.filters.push({'nutrient_id': null, 'operator': 'Greater Than', 'value': null })
            },
            removeFilter(index) {
                this.$delete(this.filters, index)
                this.$emit('filter-changed')
                if ( this.filters.length === 0 ) {
                    this.addFilter()
                }
            },
        },
        template: `<div>
            <v-btn x-small class="mx-2" fab dark color="indigo" v-on:click="addFilter">
              <v-icon dark>mdi-plus</v-icon>
            </v-btn>
            <nutrient-filter
                 v-for="(f, index) in filters"
                 v-bind:key="index"
                 v-bind:index="index"
                 v-bind:filter="f"
                 v-on:remove-filter="removeFilter"
                ></nutrient-filter></div>`
    });
</script>